# Lab Assignment 2: How to Load CSV, ASCII, and other data into Python
## DS 6001: Practice and Application of Data Science

### Instructions
Please answer the following questions as completely as possible using text, code, and the results of code as needed. Format your answers in a Jupyter notebook. To receive full credit, make sure you address every part of the problem, and make sure your document is formatted in a clean and professional way.

There are 11 data files attached to this lab assignment, with different extensions. First, download all of these data files, and save them in the same folder on your local machine. Your task in the following questions is to load each file into Python correctly, so that you can begin the process of data cleaning. If the variable names are included in the file, use those names to name the columns. If the variable names are not included, use these names in order:

In [40]:
column_names = ["Country", "Happiness score", "Whisker-high", "Whisker-low", 
  "Dystopia (1.92) + residual", "Explained by: GDP per capita", 
  "Explained by: Social support", "Explained by: Healthy life expectancy", 
  "Explained by: Freedom to make life choices", "Explained by: Generosity", 
  "Explained by: Perceptions of corruption" ]

If you loaded the data correctly, it will look like `data_clean.csv`, which is also attached to this lab.

## Problem 0
Import the libraries you will need. Then write code to change the working directory to the folder in which you saved the data files, run the code displayed above to create the `column_names` list, load `data_clean.csv`, and display the output of the `.info()` method of `data_clean`. (1 point)

In [34]:
import numpy as np
import pandas as pd
import os
import csv
import pyreadstat

In [7]:
os.chdir("/Users/matthewscheffel/Desktop/MSDS/DS 6001/Data/lab data")
os.getcwd()

'/Users/matthewscheffel/Desktop/MSDS/DS 6001/Data/lab data'

In [8]:
df = pd.read_csv('data_clean.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

## Problem 1
Load `data1.csv`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [12]:
df_1 = pd.read_csv('data1.csv')

df_1.info()
df_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)  158 non-null    object
 1   Unnamed: 1                                                                                       157 non-null    object
 2   Unnamed: 2                                                                                       157 non-null    object
 3   Unnamed: 3                                                                                       157 non-null    object
 4   Unnamed: 4                                                                                       157 non-null    object
 5   Unnamed: 5                                                                                       157 non-null    object
 6   Unnamed: 6                                                                                       157 non-null    object
 7   Unnamed: 7                                                                                       157 non-null    object
 8   Unnamed: 8                                                                                       157 non-null    object
 9   Unnamed: 9                                                                                       157 non-null    object
 10  Unnamed: 10                                                                                      157 non-null    object
dtypes: object(11)
memory usage: 13.7+ KB

,"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,URL: http://worldhappiness.report/ed/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
2,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
3,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
4,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408

In [13]:
df_1 = pd.read_csv('data1.csv', header = 2)
df_1.info()
df_1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

The original data has an issue with the first 2 rows of data, with the header info in row 2. Using header = 2 while reading in the data corrects the issue.

## Problem 2
Load `data2.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [36]:
df_2 = pd.read_csv('data2.txt')
df_2.info()
df_2.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 11 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)  161 non-null    object
 1   Unnamed: 1                                                                                       157 non-null    object
 2   Unnamed: 2                                                                                       157 non-null    object
 3   Unnamed: 3                                                                                       157 non-null    object
 4   Unnamed: 4                                                                                       157 non-null    object
 5   Unnamed: 5                                                                                       157 non-null    object
 6   Unnamed: 6                                                                                       157 non-null    object
 7   Unnamed: 7                                                                                       157 non-null    object
 8   Unnamed: 8                                                                                       157 non-null    object
 9   Unnamed: 9                                                                                       157 non-null    object
 10  Unnamed: 10                                                                                      157 non-null    object
dtypes: object(11)
memory usage: 14.0+ KB

,"Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,URL: http://worldhappiness.report/ed/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
2,"/The following countries comprise the ""very ha...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
4,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
5,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
6,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
7,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357
8,Netherlands,7.441,7.498,7.384,2.448,1.361,1.488,0.878,0.638,0.333,0.295
9,Canada,7.328,7.421,7.236,2.306,1.330,1.532,0.896,0.653,0.321,0.291
10,New Zealand,7.324,7.401,7.247,2.156,1.268,1.601,0.876,0.669,0.365,0.389
11,Sweden,7.314,7.388,7.241,2.217,1.355,1.501,0.913,0.659,0.285,0.383
12,Australia,7.272,7.358,7.186,2.139,1.340,1.573,0.910,0.647,0.361,0.302
13,Israel,7.190,7.257,7.123,2.817,1.244,1.433,0.888,0.464,0.262,0.082
14,Austria,7.139,7.209,7.069,2.319,1.341,1.504,0.891,0.617,0.242,0.224
15,Costa Rica,7.072,7.160,6.983,2.911,1.010,1.459,0.817,0.632,0.143,0.101
16,"/The following countries comprise the ""moderat...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ireland,6.977,7.055,6.900,1.844,1.448,1.583,0.876,0.614,0.307,0.306
18,Germany,6.965,7.024,6.905,2.151,1.340,1.474,0.861,0.586,0.273,0.280
19,Belgium,6.927,6.995,6.859,2.215,1.324,1.483,0.894,0.583,0.188,0.240

In [37]:
df_2 = pd.read_csv("data2.txt", header = 2, comment = "/")
df_2.info()
df_2.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357
5,Netherlands,7.441,7.498,7.384,2.448,1.361,1.488,0.878,0.638,0.333,0.295
6,Canada,7.328,7.421,7.236,2.306,1.330,1.532,0.896,0.653,0.321,0.291
7,New Zealand,7.324,7.401,7.247,2.156,1.268,1.601,0.876,0.669,0.365,0.389
8,Sweden,7.314,7.388,7.241,2.217,1.355,1.501,0.913,0.659,0.285,0.383
9,Australia,7.272,7.358,7.186,2.139,1.340,1.573,0.910,0.647,0.361,0.302
10,Israel,7.190,7.257,7.123,2.817,1.244,1.433,0.888,0.464,0.262,0.082
11,Austria,7.139,7.209,7.069,2.319,1.341,1.504,0.891,0.617,0.242,0.224
12,Costa Rica,7.072,7.160,6.983,2.911,1.010,1.459,0.817,0.632,0.143,0.101
13,Ireland,6.977,7.055,6.900,1.844,1.448,1.583,0.876,0.614,0.307,0.306
14,Germany,6.965,7.024,6.905,2.151,1.340,1.474,0.861,0.586,0.273,0.280
15,Belgium,6.927,6.995,6.859,2.215,1.324,1.483,0.894,0.583,0.188,0.240
16,Luxembourg,6.910,6.975,6.844,1.769,1.576,1.520,0.896,0.632,0.196,0.321
17,United States,6.886,6.974,6.798,2.227,1.398,1.471,0.819,0.547,0.291,0.133
18,United Kingdom,6.814,6.887,6.741,1.912,1.301,1.559,0.883,0.533,0.354,0.272
19,United Arab Emirates,6.774,6.844,6.704,2.096,1.467,1.296,0.776,0.670,0.284,0.186

Like in the previous example, this data needed the header to be corrected. However, it also had issues with comments added in that began with a slashmark that needed to be removed.

## Problem 3
Load `data3.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [21]:
df_3 = pd.read_csv("data3.txt")
df_3.info()
df_3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 1 columns):
 #   Column                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                     --------------  -----
 0   Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)										  158 non-null    object
dtypes: object(1)
memory usage: 1.4+ KB

  Source: The World Happiness Report (2018), The Sustainable Development Solutions Network (SDSN)\t\t\t\t\t\t\t\t\t\t
0  URL: http://worldhappiness.report/ed/2018\t\t\...
1  Country\tHappiness score\tWhisker-high\tWhiske...
2  Finland\t7.632\t7.695\t7.569\t2.595\t1.305\t1....
3  Norway\t7.594\t7.657\t7.53\t2.383\t1.456\t1.58...
4  Denmark\t7.555\t7.623\t7.487\t2.37\t1.351\t1.5...

In [20]:
df_3 = pd.read_csv('data3.txt', sep = '\t', header = 2)
df_3.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

This dataset needed the header to be set to row 2, as well as a delimiter (\t) that was corrected.

## Problem 4
Load `data4.txt`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [38]:
df_4 = pd.read_csv("data4.txt")
df_4.info()
df_4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 1 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Finland$7.632$7.695$7.569$2.595$1.305$1.592$0.874$0.681$0.192$0.393  155 non-null    object
dtypes: object(1)
memory usage: 1.3+ KB

  Finland$7.632$7.695$7.569$2.595$1.305$1.592$0.874$0.681$0.192$0.393
0  Norway$7.594$7.657$7.530$2.383$1.456$1.582$0.8...
1  Denmark$7.555$7.623$7.487$2.370$1.351$1.590$0....
2  Iceland$7.495$7.593$7.398$2.426$1.343$1.644$0....
3  Switzerland$7.487$7.570$7.405$2.320$1.420$1.54...
4  Netherlands$7.441$7.498$7.384$2.448$1.361$1.48...

In [41]:
df_4 = pd.read_csv("data4.txt", sep = '$', header = None, names = column_names)
df_4.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

Corrected the header and the delimiter issue ($), then assigned the column names from the list given at the beginning of the notebook.

## Problem 5
Load `data5.csv`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [43]:
df_5 = pd.read_csv("data5.csv")
df_5.info()
df_5.head()
#header looks fine, so check tail
df_5.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     158 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.7+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076
156,"Source: The World Happiness Report (2018), The...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,URL: http://worldhappiness.report/ed/2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df_5 = df_5.drop([156,157])
df_5.tail()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076

The header for the data appeared ok, but checking the tail showed an extra two rows which were spliced out.

## Problem 6
Load `data6.dat`. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (1 point)

In [48]:
df_6 = pd.read_csv("data6.dat")
df_6.info()
df_6.head()
# check tail
# df_6.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,999.000,999.000,999.000,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,999.000,999.000,1.582,999.000,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,999.000,0.683,0.284,0.408
3,Iceland,7.495,7.593,999.000,2.426,1.343,1.644,0.914,0.677,0.353,999.000
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

In [49]:
df_6 = pd.read_csv("data6.dat", na_values = 999)
df_6.head()

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,NaN,NaN,NaN,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,NaN,NaN,1.582,NaN,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,NaN,0.683,0.284,0.408
3,Iceland,7.495,7.593,NaN,2.426,1.343,1.644,0.914,0.677,0.353,NaN
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

Original dataset had used "999" in place of NA, corrected the issue to reflect accuracte data by setting na_values equal to 999 when reading in the data.

## Problem 7
Load `data7.xlsx`, which is an Excel file. Keep only the sheet named “Data”. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

In [50]:
df_7 = pd.read_excel("data7.xlsx", sheet_name = 'Data')
df_7.info()
df_7.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

Found no issues except perhaps the column names being difficult to read. They can be replaced with the list from the beginning if needed.

## Problem 8
Load `data8.dta`, which is a Stata 13 file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

In [54]:
df_8 = pd.read_stata("data8.dta")
df_8.info()
df_8.head()
# check tail
df_8.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           156 non-null    object
 1   happinessscore                    156 non-null    float32
 2   whiskerhigh                       156 non-null    float32
 3   whiskerlow                        156 non-null    float32
 4   dystopia192residual               156 non-null    float32
 5   explainedbygdppercapita           156 non-null    float32
 6   explainedbysocialsupport          156 non-null    float32
 7   explainedbyhealthylifeexpectancy  156 non-null    float32
 8   explainedbyfreedomtomakelifechoi  156 non-null    float32
 9   explainedbygenerosity             156 non-null    float32
 10  explainedbyperceptionsofcorrupti  156 non-null    float32
dtypes: float32(10), object(1)
memory usage: 8.5+ KB

,country,happinessscore,whiskerhigh,whiskerlow,dystopia192residual,explainedbygdppercapita,explainedbysocialsupport,explainedbyhealthylifeexpectancy,explainedbyfreedomtomakelifechoi,explainedbygenerosity,explainedbyperceptionsofcorrupti
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076

Again, I found no issues except perhaps the column names being difficult to read. They can be replaced with the list from the beginning if needed.

## Problem 9
Load `data9.sav`, which is an SPSS file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (2 points)

In [55]:
df_9 = pd.read_spss("data9.sav")
df_9.info()
df_9.head()
# check tail
df_9.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   country      156 non-null    object
 1   happiness    156 non-null    float64
 2   whiskerhigh  156 non-null    float64
 3   whiskerlow   156 non-null    float64
 4   dystopia     156 non-null    float64
 5   gdpPC        156 non-null    float64
 6   socsupport   156 non-null    float64
 7   lifeexp      156 non-null    float64
 8   lifechoice   156 non-null    float64
 9   generous     156 non-null    float64
 10  corrupt      156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,country,happiness,whiskerhigh,whiskerlow,dystopia,gdpPC,socsupport,lifeexp,lifechoice,generous,corrupt
151,Yemen,3.355,3.448,3.262,1.106,0.442,1.073,0.343,0.244,0.083,0.064
152,Tanzania,3.303,3.414,3.193,0.628,0.455,0.991,0.381,0.481,0.270,0.097
153,South Sudan,3.254,3.385,3.123,1.691,0.337,0.608,0.177,0.112,0.224,0.106
154,Central African Republic,3.083,3.227,2.939,2.487,0.024,0.000,0.010,0.305,0.218,0.038
155,Burundi,2.905,3.074,2.735,1.752,0.091,0.627,0.145,0.065,0.149,0.076

For thsi dataset as well, I found no issues except perhaps the column names being difficult to read. They can be replaced with the list from the beginning if needed.

## Problem 10
Load `data10.xpt`, which is a SAS file. Use the tools we discussed in class to decide whether the data file loaded correctly, and include that code in your lab report. In one or two sentences, describe how you decided on the right combination of parameters needed to load the data. (If some of the country names display as `b'Finland'`, don't worry aout that.) (2 points)

In [57]:
df_10 = pd.read_sas("data10.xpt")
df_10.info()
df_10.head()
# check tail
df_10.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   COUNTRY   156 non-null    object
 1   HAPPINES  156 non-null    float64
 2   WHISKERH  156 non-null    float64
 3   WHISKERL  156 non-null    float64
 4   DYSTOPIA  156 non-null    float64
 5   EXPLAINE  156 non-null    float64
 6   EXPLAIN2  156 non-null    float64
 7   EXPLAIN3  156 non-null    float64
 8   EXPLAIN4  156 non-null    float64
 9   EXPLAIN5  156 non-null    float64
 10  EXPLAIN6  156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,COUNTRY,HAPPINES,WHISKERH,WHISKERL,DYSTOPIA,EXPLAINE,EXPLAIN2,EXPLAIN3,EXPLAIN4,EXPLAIN5,EXPLAIN6
151,b'Yemen',3.355,3.448,3.262,1.106,0.442,1.073000e+00,0.343,0.244,0.083,0.064
152,b'Tanzania',3.303,3.414,3.193,0.628,0.455,9.910000e-01,0.381,0.481,0.270,0.097
153,b'South Sudan',3.254,3.385,3.123,1.691,0.337,6.080000e-01,0.177,0.112,0.224,0.106
154,b'Central African Republic',3.083,3.227,2.939,2.487,0.024,5.397605e-79,0.010,0.305,0.218,0.038
155,b'Burundi',2.905,3.074,2.735,1.752,0.091,6.270000e-01,0.145,0.065,0.149,0.076

Found no issues besides the country names appearing as "b'Finland'".

## Problem 11
Please load the `data11.txt` file, which is a fixed width file. The columns are defined as follows:

| Variable                                   | Width | Start | End |
|--------------------------------------------|-------|-------|-----|
| Country                                    | 24    | 1     | 24  |
| Happiness score                            | 5     | 25    | 29  |
| Whisker-high                               | 5     | 30    | 34  |
| Whisker-low                                | 5     | 35    | 39  |
| Dystopia (1.92) + residual                 | 5     | 40    | 44  |
| Explained by: GDP per capita               | 5     | 45    | 49  |
| Explained by: Social support               | 5     | 50    | 54  |
| Explained by: Healthy life expectancy      | 5     | 55    | 59  |
| Explained by: Freedom to make life choices | 5     | 60    | 64  |
| Explained by: Generosity                   | 5     | 65    | 69  |
| Explained by: Perceptions of corruption    | 5     | 70    | 74  |

Then save the this loaded data frame as a CSV file on your local machine. Be sure to use a unique filename so as not to overwrite any existing files. (5 points)

In [58]:
df_variables = ["Country", "Happiness score", "Whisker-high", "Whisker-low", "Dystopia (1.92) + residual",
          "Explained by: GDP per capita", "Explained by: Social support", "Explained by: Healthy life expectancy",
          "Explained by: Freedom to make life choices", "Explained by: Generosity", "Explained by: Perceptions of corruption"]

df_widths = [24, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

df_11 = pd.read_fwf("data11.txt", names = df_variables, header = None, widths = df_widths)

df_11.info()
df_11.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country                                     156 non-null    object
 1   Happiness score                             156 non-null    float64
 2   Whisker-high                                156 non-null    float64
 3   Whisker-low                                 156 non-null    float64
 4   Dystopia (1.92) + residual                  156 non-null    float64
 5   Explained by: GDP per capita                156 non-null    float64
 6   Explained by: Social support                156 non-null    float64
 7   Explained by: Healthy life expectancy       156 non-null    float64
 8   Explained by: Freedom to make life choices  156 non-null    float64
 9   Explained by: Generosity                    156 non-null    float64
 10  Explained by: Perceptions of corruption     156 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.5+ KB

,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.92) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.632,7.695,7.569,2.595,1.305,1.592,0.874,0.681,0.192,0.393
1,Norway,7.594,7.657,7.530,2.383,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,7.623,7.487,2.370,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,7.593,7.398,2.426,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,7.570,7.405,2.320,1.420,1.549,0.927,0.660,0.256,0.357

In [61]:
# local CSV
df_11.to_csv("DS_6001_DF_11.csv")